/* ==========================================================================
   BUTTONS
   ========================================================================== */

/*
   Default button
   ========================================================================== */

.btn {
  /* default button */
  display: inline-block;
  margin-bottom: 0.25em;
  padding: 0.5em 1em;
  color: #D7DADC !important;
  font-family: $sans-serif;
  font-size: $type-size-6;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #014638;
  border: 0 !important;
  border-radius: $border-radius;
  cursor: pointer;

  &:hover {
    background-color: mix(#014638, #000, 20%);
  }

  .icon {
    margin-right: 0.5em;
  }

  .icon + .hidden {
    margin-left: -0.5em; /* override for hidden text*/
  }

  /* fills width of parent container */

  &--block {
    display: block;
    width: 100%;

    + .btn--block {
      margin-top: 0.25em;
    }
  }

  /* for dark backgrounds */

  &--inverse {
    color: #D7DADC !important;
    border: 1px solid $light-gray !important; /* override*/
    background-color: #014638;

    &:hover {
      color: mix(#014638, #000, 20%);
      border-color: $gray;
    }
  }

  /* light outline */

  &--light-outline {
    border: 1px solid #fff !important; /* override*/
    background-color: transparent;
  }

  /* information */

  &--info {
    background-color: $info-color;

    &:hover {
      background-color: mix(#000, $info-color, 20%);
    }
  }

  /* warning */

  &--warning {
    background-color: $warning-color;

    &:hover {
      background-color: mix(#000, $warning-color, 20%);
    }
  }

  /* success */

  &--success {
    background-color: $success-color;

    &:hover {
      background-color: mix(#000, $success-color, 20%);
    }
  }

  /* danger */

  &--danger {
    background-color: $danger-color;

    &:hover {
      background-color: mix(#000, $danger-color, 20%);
    }
  }

  /* disabled */

  &--disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: 0.65;
  }

  /* social buttons */

  $social:
  (facebook, $facebook-color),
  (twitter, $twitter-color),
  (google-plus, $google-plus-color),
  (linkedin, $linkedin-color);

  @each $socialnetwork, $color in $social {
    &--#{$socialnetwork} {
      background-color: $color;

      &:hover {
        background-color: mix(#000, $color, 20%);
      }
    }
  }

  /* extra large button */

  &--x-large {
    font-size: $type-size-4;
  }

  /* large button */

  &--large {
    font-size: $type-size-5;
  }

  /* small button */

  &--small {
    font-size: $type-size-7;
  }
}

/* Custom Styles for Social Links and Follow Button */
#socialLinks {
  display: none;  // Make it hidden by default
  background-color: #014638;
  color: #D7DADC;
  padding: 10px;
  border: 2px solid #2c2c2e;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#socialLinks li {
  margin: 5px 0;
}

#socialLinks a {
  color: #A8D8B9; // This color should match your site's design.
  text-decoration: none;
}

#socialLinks a:hover {
  color: mix(#000, #FFAA00, 33%);
  text-decoration: underline;
}
